<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Appenders -->
  <appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.base}/logs/abra.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Application Loggers -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <logger name="org.mongocrunch">
    <level value="info" />
  </logger>

  <logger name="org.springframework">
    <level value="info" />
  </logger>

  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>